.input_form_boxs {
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.input_form_boxs  input {
    margin-bottom: 20px;
}

.input_form_boxs textarea {
    height: 200px;
    margin-bottom: 20px;
}